<h3>Source:</h3>
<%= link_to('https://github.com/cty222/Metronome', 'https://github.com/cty222/Metronome', target: "_blank")%><br/>
<br/>
If you have any questions about this app's source<br/>
<br/>
Just use <%= link_to t('about_us_title'), about_us_path()%> or send email to TravisCTY@Gmail.com<br/>
