<div>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			<b>Main Page</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/NormalPage_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>Sttings Page</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/SettingsEng_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>Time Picker Page</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/TimePickerEng_4S.png">
		</div>
		<div class="ImageWithTitle">
			<b>TempoList Choose Page</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/TempoTableEng_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>Name Editor Page</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/NameEditerEng_4S.png">
		</div>
	</div>

	<hr class="ShortRedLine"/>
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>Metronome Function (Main Page) :</h1>
	<pre class="MainTextContent">
        1. Set BPM Value :
            Scrolling on up or down can make BPM value change, and you can also use the 
        arrow button to minus or plus value. Up button can plus 1 and down arrow
        minus 1. If you open BPM with 1 decimal place, the change value will be 
        0.1 for both arrow button.
        </pre>
	<img src="../img/HowToUse/MainPage/BPMPicker.png">
	<pre class="MainTextContent">
        2. BPM Tap Function:
          Tap on BPM Value, and the tap image will appear on left head side.
        After 3 time tap, the tap image will change to red and change BPM value
        immediately.
        </pre>
	<img src="../img/HowToUse/MainPage/NormalTapAnimation.png">
	<pre class="MainTextContent">
        3 Metronome volume:
          Scroll on volume image up or down can change the value.
        </pre>
	<img src="../img/HowToUse/MainPage/ClickVolume.png">
	<pre class="MainTextContent">
        4. Change Time Signature:
          Push "time signature button" will pop up a dialog, and pick the time
        signature that you want.
        </pre>
	<img src="../img/HowToUse/MainPage/TimeSignatureIcon.png">
	<pre class="MainTextContent">
        5. Change Voice :
          Push "voice button" will pop up a dialog, and pick the voice that you 
        want.
        </pre>
	<img src="../img/HowToUse/MainPage/VoiceIcon.png">
	<pre class="MainTextContent">
        6. Change Loop Time :
           Push "tempo item editer button" will popup and dialog, and you can 
        change the loop counter with scroll on the number up or down.
        </pre>
	<img src="../img/HowToUse/MainPage/TempoCellEditButton.png">
	<pre class="MainTextContent">
        7. Add / delete tempo items :
           Add    => Push "Add" button and you will create a new tempo item.
           Delete => Push tempo item editer button for pop up editer dialog.
                     Push unlock button and the delete button will turn to red,
                     then you can delete now focus button. 
        </pre>
	<img src="../img/HowToUse/MainPage/AddCell.png">
	<pre class="MainTextContent">
        8. Enter Settings Page: 
            Push Ssttings button can enter Settings page.
        </pre>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			iPhone 5 ~ iPhone 6
			<br/>
			<br/>
			<img src="../img/HowToUse/MainPage/SystemIcon.png">
		</div>
		<div class="ImageWithTitle">
			iPhone 4S
			<br/>
			<br/>
			<img src="../img/HowToUse/MainPage/SystemIcon4S.png">
		</div>
	</div>
	<div class="StopFloatDiv"></div>
	<pre class="MainTextContent">
        9. Select other tempo item: 
          Push the item that you want to select, or scroll it to focus area also
        can select it. 
        </pre>	

 <img src="../img/HowToUse/MainPage/TempoCellBar.png">
	<hr class="ShortRedLine"/>
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>Play function (Mage Page / Settings Page):</h1>
	<pre class="MainTextContent">
        10. Metronome play: 
           Push the metronome play button(the bigest one), and it will turn red if playing. 
        </pre>
	<img src="../img/HowToUse/MainPage/PlayTempoCellButton.png">
	<pre class="MainTextContent">
        11. Play All Tempo Items in List (Auto Repeat): 
            Push the play list button and it will turn to red if playing, the 
        Metronome play button will also turn red but you can't push it for stop.
        you need to push play list button again for stop it.
                
            This function will play tempo item from "current focus item" to the 
        last one.
        
            You also can play with auto repeat will the swith in Settings page.
        After you open this fuction by swith on, the behavoir will be change to
        play list from "current focus item" to the last one and none stop repeat
        from "First item".  
        </pre>	

 <img src="../img/HowToUse/MainPage/PlayListButton.png">
	<pre class="MainTextContent">
        12. Play music (auto repeat)
            Default this fuction is closed. you need to turn on it by switch.
        After turn on, you still need to choose a song to play. Turn on music 
        play fuction will also make other music play switch enable.   
        </pre>	

 <img src="../img/HowToUse/MainPage/PlayMusicButton.png">
	<br/>

	<hr class="ShortRedLine"/>
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>Music Play (Settings Page / Time Picker Page):</h1>
	<pre class="MainTextContent">
        13. Set Music start and end time (AB Loop)
            Push start aor stop time in Settings page will pop up time picker 
        with player. the value shows up form left side to right is 
        "minutes : Seconds : Centiseconds", the bottom is music player for you 
        to check which part of music at the time that you pick.
        
            There is a sync button beside of play button which is for you to 
        update time from slider value, time picker will NOT auto sync slider 
        value, but play will auto sync time picker value when start to play.  
           
           Reset button is on Settings page, and it will change start time to 
        00:00.00 and end time to the end of the songs. 
        </pre>
	<div class="MainImagesContent">
		<div style="float:left;">
			<b>Settings Page: Time button</b>
			<br/>
			<br/>
			<img  style="width:480" src="../img/HowToUse/SystemPage/TimePickerButtonsEng.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>Time Picker Page</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/TimePickerEng_4S.png">
		</div>
	</div>
	<pre class="MainTextContent">
        14. Set music to half speed:
            Enable this function by using switch button on Settings page.  
        </pre>
	<pre class="MainTextContent">
        15. play metonome with music: 
            Enable this function by using switch button on Settings page. Beware 
        of the song that you pick will hvae empty part, you might using start 
        time picker to pass this part.
         
            This function will NOT auto fit the song's BPM of each part if the 
        song are not only have single BPM value.  
        
            PS: Enable this function will make you can't just stop metronome will
        the play button. 
        </pre>		
        
 <hr class="ShortRedLine"/>
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>Select different Tempo List(Settings Page/ Tempo List Page / Name Editer Page):</h1>
	<pre class="MainTextContent">
        16. Change tempo list:
            You can select other tempo list by push tempo list name label into 
        "Tempo List Page". In "Tempo List Page", Scroll to left on each item will 
        display delete button on the right side for make you delete that tempo 
        list. push edit button or add button will pop up "Name Editer Page".
            
            Add:  The now label will shows None, and you need to set name or you 
                  can't save it. The name is need to under 25 words.
            edit: The now label will shows current name, you also can't save it 
                  without name.
        </pre>
	<b>Settings Page: Tempo List Name</b>
	<br/>
	<br/>
	<img src="../img/HowToUse/SystemPage/TempleListTableButtonEng.png">
	<br/>
	<div class="MainImagesContent">
		<div class="ImageWithTitleTrueSize">
			<b>Tempo List Page</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableEng_5S.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>Name Editer Page</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/NameEditerEng_4S.png">
		</div>
	</div>
</div>