<div>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			<b>メインページ</b></br></br><!-- 主畫面 -->
			<img class="AppImgSmallSize_5S" src="../img/5S/NormalPage_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>設定ページ</b></br></br><!-- 設置畫面 -->
			<img class="AppImgSmallSize_5S" src="../img/5S/SettingsJP_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>時点のセレクタページ</b></br></br><!-- 時間選取畫面 -->
			<img class="AppImgSmallSize_5S" src="../img/4S/TimePickerJP_4S.png">
		</div>
		<div class="ImageWithTitle">
			<b>ビートリストページ</b></br></br><!-- 節拍列表頁面 -->
			<img class="AppImgSmallSize_5S" src="../img/5S/TempoTableJP_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>名称設定ページ</b></br></br><!-- 名稱編輯頁面 -->
			<img class="AppImgSmallSize_5S" src="../img/4S/NameEditerJP_4S.png">
		</div>
	</div>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>メトロノームの機能(メインページ) :</h1><!-- 一般節拍器功能 (主頁面) : -->
	<pre class="MainTextContent">
        1. ＢＰＭ値を設定します : <!-- 設定BPM值 -->
           数値を変更するには、直接画面に上または下にスライドします。画面のＢＰ
        Ｍ番号に触れば、増減するため矢印ボタンが表示され、矢印を押すすると、数値
        が１を増えまた減ります。また、ＢＰＭ小数を使用する場合、数値が０.１に減
        増します。
        </pre>
	<img src="../img/HowToUse/MainPage/BPMPicker.png">
	<pre class="MainTextContent">
        2. 計算速度をタッチします : <!-- 觸碰計算速度 -->
           画面にＢＰＭ数値をタッチすると、示すパターンが表示され、三回以上をク
        リックしたらパターンが赤に変わりますし、結果を直接ＢＰＭ値に変更します。
        </pre>
	<img src="../img/HowToUse/MainPage/NormalTapAnimation.png">
	<pre class="MainTextContent">
        3. メトロノームの音量 : <!-- 節拍器音量 -->
           音量を変更するには、画面にボリュームボタンを上下にスライドすれば変更
        することができます。
        </pre>
	<img src="../img/HowToUse/MainPage/ClickVolume.png">
	<pre class="MainTextContent">
        4. 拍子を変更します : <!-- 改變拍號 -->
           上側の拍子パターンをタッチすると、オプションポップが現れ、クリックし
        たら変更することができます。
        </pre>
	<img src="../img/HowToUse/MainPage/TimeSignatureIcon.png">
	<pre class="MainTextContent">
        5. サウンドの種類を変更します : <!-- 改變聲音種類 -->
           上側のサウンドパターンをタッチすると、オプションポップが現れ、クリッ
        クしたら変更することができます。
        </pre>
	<img src="../img/HowToUse/MainPage/VoiceIcon.png">
	<pre class="MainTextContent">
        6. 繰り返し回数を変更します : <!-- 改變重複次數 -->
           上側のメトロノームパターンをタッチすると、編集ポップが現れ、画面の数
        字をスライドし、また、右側の矢印をクリックしたら、メトロノームの繰り返し
        回数を変更することができます。 
        </pre>
	<img src="../img/HowToUse/MainPage/TempoCellEditButton.png">
	<pre class="MainTextContent">
        7. メトロノームの項目を「削除/追加」します : <!-- 新增/刪除 節拍器項目 -->
           追加＝＞上側の(＋)アイコンをタッチすると、新しいメトロノームプロジェ
                   クトを追加します。
           削除＝＞各メトロノームパターンにタッチして、編集ポップが現れ、画面に
                   除する状態に数字下のグレーのロックボタンを押したら、赤くなり
                   、ロックを解なります、同時に赤い(－)アイコンが現れます。(－)
                   アイコンをクリックしたら、そのメトロノームの項目が削除します
                   。
        </pre>
	<img src="../img/HowToUse/MainPage/AddCell.png">
	<pre class="MainTextContent">
        8. 設定ページに入ります : <!-- 進入設置頁面 -->
           メインページの右上の設定ボタンをクリックしたら、設定ページに入ること
        ができます。 
        </pre>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			iPhone 5 ~ iPhone 6</br></br>
			<img src="../img/HowToUse/MainPage/SystemIcon.png">
		</div>
		<div class="ImageWithTitle">
			iPhone 4S</br></br>
			<img src="../img/HowToUse/MainPage/SystemIcon4S.png">
		</div>
	</div>
	<div class="StopFloatDiv"></div>
	<pre class="MainTextContent">
        9. カスタムビートを選択します :  <!-- 選擇不同自訂節拍 -->
           メインページで、真ん中のリストに直接ビートプロジェクトをクリックしま
        す、またレッドゾーンに対象を選択するためスライドします。
        </pre>	

 <img src="../img/HowToUse/MainPage/TempoCellBar.png">
	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>再生機能(メインページ／設定ページ):</h1><!-- 撥放功能 (主頁面 / 設置頁面): -->
	<pre class="MainTextContent">
        10. メトロノームの再生 :  <!-- 節拍器撥放 -->
            再生ボタンをクリックすると、現在のページの表示情報から従って再生しま
        す。黒は停止を表示され、赤は再生中を表示されます。
        </pre>
	<img src="../img/HowToUse/MainPage/PlayTempoCellButton.png">
	<pre class="MainTextContent">
        11. プレイリスト（オートリピート） :  <!-- 列表播放 (自動重複) -->
            ビートリストの上にリストプレイボタンをクリックしたら（ボタンが黒から
        赤に）、現在選択されたビートのプロジェクト再生をまじめ、順番に最後のビー
        トに合わせて打つ自動的に再生を停止します。
            また、設定ページに自動再生機能を開くことができ、現在選択されたビート
        から順次に反復してリピートします、リスト上の再生ボタンをクリックする(色
        は赤から黒になる)まで再生を停止します
        </pre>	

 <img src="../img/HowToUse/MainPage/PlayListButton.png">
	<pre class="MainTextContent">
        12. 曲の再生(オートリピート付き) :   <!-- 音樂播放(自動重復) -->
            あらかじめ閉じます、設定ページにミュージックプレーヤー使用を開くこと
        が必要になります(リストプレーヤーが中止になる)。曲を選択してから、関連す
        るオプションが表示されます。あとはメーンページで再生ボタンをクリックした
        ら、再生することができます。また、設定ページに自動再生機能をオンにするこ
        とができます。
        </pre>	

 <img src="../img/HowToUse/MainPage/PlayMusicButton.png">
	<br/>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>ミュウジック再生について (設定ページ / 時点のセレクタページ):</h1><!---- 音樂撥放相關 (設置頁面 / 時間選取頁面) ------>
	<pre class="MainTextContent">
        13. 曲の始まり／終わりを設定します(ＡＢ間リピート) : <!---- 設置音樂開始與結束時間 (AB段循環) ------> 
            設定ページに、ミュージックプレーヤーが開く状態で、始まり／終わり時点
        をクリックして、時点のセレクタに入ります。セレクタの画面に左から右に、分
        ：秒．センチ秒を表示されています(試聴プレーヤー付き)。上下スライドする、
        また矢印をクリックしたら、時点の設定ができます。下は試聴プレーヤー、再生
        ボタンを押したら、設定した時点から曲を再生します、スライダーでも、移動を
        始めます。再生中には、スライダーをスライドしでも、作用しません。再生の時
        点を調整するには、止める状態で指定された時点にスライダーを切り替え、その
        後、下方の同期ボタンを押し、時点位置がリセットされます。また、再生する時
        点を再設定するため、セレクタをスライドさせることができます。もし、開始時
        点と終了時点をリセットする必要があれば、設定ページでリセットボタンを押し
        たら、開始時間はセロになる、終了時間は曲の全長の時点にします。
        </pre>
	<div class="MainImagesContent">
		<div style="float:left;">
			<b>設定ページ：時間ボタン</b></br></br><!-- 設置頁面: 時間按鈕 -->
			<img  style="width:480" src="../img/HowToUse/SystemPage/TimePickerButtonsJP.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>時点のセレクタページ</b></br></br><!-- 時間選取頁面 -->
			<img class="AppImgTrueSize_5S" src="../img/4S/TimePickerJP_4S.png">
		</div>
	</div>
	<pre class="MainTextContent">
        14. 音楽のスピードが半分にします : <!-- 音樂速度減半 -->
            設定ページで、ミュージックプレーヤーが使用の状態で曲を選択して、下へ
        のスイッチを開いてから、スピードが半分にします。
        </pre>		                                
        
 	<pre class="MainTextContent">
        15. ビートと曲を同時に再生します : <!-- 撥放節拍同時撥放音樂 -->
            設定ページでは、このスイッチを見つけることができます。使用する前に、
        ミュージックプレーヤーが使用の状態で、及び曲を一曲選択され、そうしたら同
        時再生ができます。ほとんどの音楽は空白の短い時間がありますが、開始時刻を
        設定して範囲を確認しております。この同時再生機能は、自動的に使用している
        曲のスピードと合わせることはしません。曲のペースやスピードなどには色々な
        変化があり、これはメトロノームが曲と同期されていませんとうになります。ご
        注意に、この機能を使用した、同時再生機能を停めるする前に、メトロノーム一
        方的に再生と停止することはできません。
        </pre>
        
 <hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>異なるビートリストを選択(設定ページ／ビートリストページ／名称設定ページ):</h1><!----- 選取不同列表 (設置頁面 / 節拍列表頁面 / 名稱編輯頁面):  ----->
	<pre class="MainTextContent">
        16. 異なるビートリストを選択します : <!-- 選取不同的節拍列表 -->
            ビートリストに名称を設定することには、設定ページの中にリストネームを
        クリックして、すべてのリスト項目を見ることができます。画面にリスト項目を
        クリックしたら、ライトグレーとして選択された(白としては選択されていない
        こと)。そして、編集ボタンをクリックしたら、ネームページに入り、ネームの
        編集することができます。追加ボタンをクリックしたら、ネームを入力し、新し
        いリストを追加することができます。また、リスト項目を左にスライドしたら、
        そのリストを削除することができます。
        
            追加：リストネームはあらかじめＤｅｆａｕｌｔを設定しています。新しい
                  ネームを入力してない状態でセーフをクリックしまうと、ネームのエ
                  ラーメッセージが表示され、リストを追加することはできません(ネ
                  ームは２５字以上を入力することはできません、ご注意に)
            変更：変更する前に元のネームを表示しています。新しいネームを入力して
                  ない状態でセーフをクリックしまうと、ネームのエラーメッセージが
                  表示され、リストを追加することはできません(ネームは２５字以上
                  を入力することはできません、ご注意に)
        </pre>
	<b>設定ページ：リストネーム</b></br></br><!-- 設置頁面: 列表名稱 -->
	<img src="../img/HowToUse/SystemPage/TempleListTableButtonJP.png"></br>
	<div class="MainImagesContent">
		<div class="ImageWithTitleTrueSize">
			<b>ビートリストページ</b></br></br><!-- 節拍列表頁面 -->
			<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableJP_5S.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>名称設定ページ</b></br></br><!-- 名稱編輯頁面 -->
			<img class="AppImgTrueSize_5S" src="../img/4S/NameEditerJP_4S.png">
		</div>
	</div>
</div>