<div>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			<b>主頁面</b><br/><br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/NormalPage_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>設置頁面</b><br/><br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/SettingsChi_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>時間選取頁面</b><br/><br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/TimePickerChi_4S.png">
		</div>
		<div class="ImageWithTitle">
			<b>節拍列表頁面</b><br/><br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/TempoTableChi_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>名稱編輯頁面</b><br/><br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/NameEditerChi_4S.png">
		</div>
	</div>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>一般節拍器功能 (主頁面):</h1>
	<pre class="MainTextContent">
        1. 設定BPM值 :
           直接在BPM的數字上面上下滑動即可修改數值，當觸碰過BPM數字後增加減少的
        箭頭按鈕會出現，可以按向上箭頭來加1與向下箭頭來減1，如果開啟小數點則改成
        加減0.1。
        </pre>
	<img src="../img/HowToUse/MainPage/BPMPicker.png">
	<pre class="MainTextContent">
        2. 觸碰計算速度 :
           直接點擊BPM數值，會顯示出指示圖案，當點擊超過3次後圖案會變成紅色並將
        結果直接改變BPM數值。
        </pre>
	<img src="../img/HowToUse/MainPage/NormalTapAnimation.png">
	<pre class="MainTextContent">
        3. 節拍器音量 :
           在音量按鈕上上下滑動即可改變數值。
        </pre>
	<img src="../img/HowToUse/MainPage/ClickVolume.png">
	<pre class="MainTextContent">
        4. 改變拍號 :
           點擊上方側邊拍號圖示即彈跳出拍號選項視窗，點選可作修改。
        </pre>
	<img src="../img/HowToUse/MainPage/TimeSignatureIcon.png">
	<pre class="MainTextContent">
        5. 改變聲音種類 :
           點擊上方側邊聲音種類圖示即彈跳出聲音種類選項視窗，點選可作修改。
        </pre>
	<img src="../img/HowToUse/MainPage/VoiceIcon.png">
	<pre class="MainTextContent">
        6. 改變重複次數 :
           點擊上方側邊節拍器編輯鈕即彈跳出編輯視窗，上下滑動視窗中的數字或右側
        的箭頭可改變節拍器的重複次數。 
        </pre>
	<img src="../img/HowToUse/MainPage/TempoCellEditButton.png">
	<pre class="MainTextContent">
        7. 新增/刪除 節拍器項目 :
           新增 => 按下上方側邊 + 圖示以增加節拍器項目。
           刪除 => 點擊上方側邊節拍器編輯鈕即彈跳出編輯視窗，按下數字下方的灰色
                  鎖定按鈕即轉變為紅色解鎖狀態按鈕，同時右側會出現紅色刪除按鈕
                  ，按下刪除按鈕即可刪除該節拍器項目。
        </pre>
	<img src="../img/HowToUse/MainPage/AddCell.png">
	<pre class="MainTextContent">
        8. 進入設置頁面 : 
           點擊主頁面右上方系統按鈕即可以進入設置頁面。
        </pre>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			iPhone 5 ~ iPhone 6<br/><br/>
			<img src="../img/HowToUse/MainPage/SystemIcon.png">
		</div>
		<div class="ImageWithTitle">
			iPhone 4S<br/><br/>
			<img src="../img/HowToUse/MainPage/SystemIcon4S.png">
		</div>
	</div>
	<div class="StopFloatDiv"></div>
	<pre class="MainTextContent">
        9. 選擇不同自訂節拍 :
           在節拍項目上面直接點擊或是滑動目標項目到達紅色區域即可選取。
        </pre>

	<img src="../img/HowToUse/MainPage/TempoCellBar.png">
	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>撥放功能 (主頁面 / 設置頁面):</h1>
	<pre class="MainTextContent">
        10. 節拍器撥放 :
            點擊撥放按鈕即可依照目前頁面顯示的資訊撥放節拍。黑色為停止，紅色為正
        在撥放。
        </pre>
	<img src="../img/HowToUse/MainPage/PlayTempoCellButton.png">
	<pre class="MainTextContent">
        11. 列表播放 (自動重複) : 
            點擊節拍列表上方的播放鈕(按鈕顏色即由黑色轉紅色時)，即會從目前選取的
        節拍項目開始依序撥放至最後一個節拍項目循環一次後自動停止播放。 
            也可在設置頁面中打開自動重播功能，即會從目前選取的節拍項目開始依序
        重覆撥放，直至再次點擊節拍列表上方的播放鈕(按鈕顏色即由紅色轉黑色時)
        停止播放。
        </pre>

	<img src="../img/HowToUse/MainPage/PlayListButton.png">
	<pre class="MainTextContent">
        12. 音樂播放(自動重復) :
            預設是關閉的, 需要先到設置頁面開啟功能(這將會關閉列表播放)，再選取一
        項音樂後便會開啟其他音樂播放相關選項，再於主要頁面按下撥放音樂即可開始撥
        放音樂，亦可以在設置頁面打開自動重播功能。  
        </pre>

	<img src="../img/HowToUse/MainPage/PlayMusicButton.png">
	<br/>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>音樂撥放相關 (設置頁面 / 時間選取頁面) :</h1>
	<pre class="MainTextContent">
        13. 設置音樂開始與結束時間 (AB段循環) :
            在設置頁面中，於開啟音樂播放器的狀態下，點擊開始或結束時間，進入時間
        選擇器頁面，頁面顯示由左至右為” 分 : 秒 . 厘秒 ” (含試聽播放器)，上下滑
        動時間選擇器或箭頭即可修改時間數值。下方為試聽播放器，按下播放鈕會依上方
        設定好的時間位置開始播放，此時滑桿也會隨著上方設定好的時間位置開始移動。
        注意，在播放音樂當中，此時撥動滑桿並不會有任何作用。
        
            若要調整播放的時間位置，在停止播放音樂的狀態下，可撥動滑桿至重新設定
        的時間位置，然後按下方的同步鈕，時間位置將被重新設定。您也可以直接滑動時
        間選擇器來重新設定播放音樂的時間位置。如需重設開始與結束時間，於設置頁面
        中按下重置按鈕，將開始時間歸零，結束時間為音樂總長度。
        </pre>
	<div class="MainImagesContent">
		<div style="float:left;">
			<b>設置頁面: 時間按鈕</b><br/><br/>
			<img  style="width:480" src="../img/HowToUse/SystemPage/TimePickerButtons.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>時間選取頁面</b><br/><br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/TimePickerChi_4S.png">
		</div>
	</div>
	<pre class="MainTextContent">
        14. 音樂速度減半 :
            在設置頁面中，於開啟音樂播放器的狀態下，選取一首音樂後，打開下方的音
        樂速度減半即可。
        </pre>	                                
        
 	<pre class="MainTextContent">
        15. 撥放節拍同時撥放音樂 : 
            在設置頁面你可以找到這個開關，但必須先啟用音樂播放以及有選取音樂才可
        使用。須小心大部分音樂前面會有一小段空白時間，你可以設置開始時間過濾掉。
        
            這個功能並不會自動與目前歌曲速度符合，有很多歌曲的速度是有變化的，這
        會使節拍器與音樂不同步。
        
        特別注意: 起用這個功能後無法單獨撥放/停止節拍器，需要關避這個功能才會回
                  復。
        </pre>
        
 <hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>選取不同列表 (設置頁面 / 節拍列表頁面 / 名稱編輯頁面):</h1>
	<pre class="MainTextContent">
        16. 選取不同的節拍列表 :
            欲自訂節拍器列表名稱，可於設置頁面中，點擊列表名稱，即可瀏覽所有的節
        拍器列表項目。進入頁面後點擊項目變成淺灰色即為選取(未選取為白色)。點擊編
        輯進入名稱修改頁面進行修改，點擊新增進入編輯頁面進行列表新增，在列表項目
        上向左滑動即可刪除該列表項目。
        
            新增: 修改前名稱預設為Default，如果沒有輸入名稱，點擊儲存後將出現名
                  字錯誤的訊息且無法新增列表項目(限輸入名稱不能超過25個字)
            修改: 修改前為顯示目前名稱，如果沒有輸入名稱，點擊儲存後將出現名字錯
                  誤的訊息且無法新增列表項目(限輸入名稱不能超過25個字)
        </pre>
	<b>設置頁面: 列表名稱</b><br/><br/>
	<img src="../img/HowToUse/SystemPage/TempleListTableButtonChi.png"><br/>
	<div class="MainImagesContent">
		<div class="ImageWithTitleTrueSize">
			<b>節拍列表頁面</b><br/><br/>
			<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableChi_5S.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>名稱編輯頁面</b><br/><br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/NameEditerChi_4S.png">
		</div>
	</div>
</div>