<div>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			<b>主页面</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/NormalPage_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>设置页面</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/SettingsChs_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>时间选取页面</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/TimePickerChs_4S.png">
		</div>
		<div class="ImageWithTitle">
			<b>节拍列表页面</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/5S/TempoTableChs_5S.png">
		</div>
		<div class="ImageWithTitle">
			<b>名称编辑页面</b>
			<br/>
			<br/>
			<img class="AppImgSmallSize_5S" src="../img/4S/NameEditerChs_4S.png">
		</div>
	</div>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>一般节拍器功能 (主页面) :</h1>
	<pre class="MainTextContent">
        1. 设定BPM值 :
           直接在BPM的数字上面上下滑动即可修改数值，当触碰过BPM数字后增加减少的
        箭头按钮会出现，可以按向上箭头来加1与向下箭头来减1，如果开启小数点则改成
        加减0.1。
        </pre>
	<img src="../img/HowToUse/MainPage/BPMPicker.png">
	<pre class="MainTextContent">
        2. 触碰计算速度 :
           直接点击BPM数值，会显示出指示图案，当点击超过3次后图案会变成红色并将
        结果直接改变BPM数值。
        </pre>
	<img src="../img/HowToUse/MainPage/NormalTapAnimation.png">
	<pre class="MainTextContent">
        3. 节拍器音量 :
           在音量按钮上上下滑动即可改变数值。
        </pre>
	<img src="../img/HowToUse/MainPage/ClickVolume.png">
	<pre class="MainTextContent">
        4. 改变拍号 :
           点击上方侧边拍号图示即弹跳出拍号选项窗口，点选可作修改。
        </pre>
	<img src="../img/HowToUse/MainPage/TimeSignatureIcon.png">
	<pre class="MainTextContent">
        5. 改变声音种类 :
           点击上方侧边声音种类图示即弹跳出声音种类选项窗口，点选可作修改。
        </pre>
	<img src="../img/HowToUse/MainPage/VoiceIcon.png">
	<pre class="MainTextContent">
        6. 改变重复次数 :
           点击上方侧边节拍器编辑钮即弹跳出编辑窗口，上下滑动窗口中的数字或右侧
        的箭头可改变节拍器的重复次数。 
        </pre>
	<img src="../img/HowToUse/MainPage/TempoCellEditButton.png">
	<pre class="MainTextContent">
        7. 新增/删除 节拍器项目 :
           新增 => 按下上方侧边 + 图标以增加节拍器项目。
           删除 => 点击上方侧边节拍器编辑钮即弹跳出编辑窗口，按下数字下方的灰色
                  锁定按钮即转变为红色解锁状态按钮，同时右侧会出现红色删除按钮
                  ，按下删除按钮即可删除该节拍器项目。
        </pre>
	<img src="../img/HowToUse/MainPage/AddCell.png">
	<pre class="MainTextContent">
        8. 进入设置页面 : 
           点击主页面右上方系统按钮即可以进入设置页面。
        </pre>
	<div class="MainImagesContent">
		<div class="ImageWithTitle">
			iPhone 5 ~ iPhone 6
			<br/>
			<br/>
			<img src="../img/HowToUse/MainPage/SystemIcon.png">
		</div>
		<div class="ImageWithTitle">
			iPhone 4S
			<br/>
			<br/>
			<img src="../img/HowToUse/MainPage/SystemIcon4S.png">
		</div>
	</div>
	<div class="StopFloatDiv"></div>
	<pre class="MainTextContent">
        9. 选择不同自定义节拍 :
           在节拍项目上面直接点击或是滑动目标项目到达红色区域即可选取。
        </pre>

	<img src="../img/HowToUse/MainPage/TempoCellBar.png">
	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>拨放功能 (主页面 / 设置页面):</h1>
	<pre class="MainTextContent">
        10. 节拍器拨放
            点击拨放按钮即可依照目前页面显示的信息拨放节拍。黑色为停止，红色为正
        在拨放。
        </pre>
	<img src="../img/HowToUse/MainPage/PlayTempoCellButton.png">
	<pre class="MainTextContent">
        11. 列表播放 (自动重复) : 
            点击节拍列表上方的播放钮(按钮颜色即由黑色转红色时)，即会从目前选取的
        节拍项目开始依序拨放至最后一个节拍项目循环一次后自动停止播放。 
            也可在设置页面中打开自动回放功能，即会从目前选取的节拍项目开始依序重
        复拨放，直至再次点击节拍列表上方的播放钮(按钮颜色即由红色转黑色时)停止播
        放。
        </pre>

	<img src="../img/HowToUse/MainPage/PlayListButton.png">
	<pre class="MainTextContent">
        12. 音乐播放(自动重复) : 
            预设是关闭的, 需要先到设置页面开启功能(这将会关闭列表播放)，再选取一
        项音乐后便会开启其他音乐播放相关选项，再于主要页面按下拨放音乐即可开始拨
        放音乐，亦可以在设置页面打开自动回放功能。  
        </pre>

	<img src="../img/HowToUse/MainPage/PlayMusicButton.png">
	<br/>

	<hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>音乐拨放相关 (设置页面 / 时间选取页面) :</h1>
	<pre class="MainTextContent">
        13. 设置音乐开始与结束时间 (AB段循环) :
            在设置页面中，于开启音乐播放器的状态下，点击开始或结束时间，进入时间
        选择器页面，页面显示由左至右为” 分 : 秒 . 厘秒 ” (含试听播放器)，上下滑
        动时间选择器或箭头即可修改时间数值。下方为试听播放器，按下播放钮会依上方
        设定好的时间位置开始播放，此时滑杆也会随着上方设定好的时间位置开始移动。
        注意，在播放音乐当中，此时拨动滑杆并不会有任何作用。
            
            若要调整播放的时间位置，在停止播放音乐的状态下，可拨动滑杆至重新设定
        的时间位置，然后按下方的同步钮，时间位置将被重新设定。您也可以直接滑动时
        间选择器来重新设定播放音乐的时间位置。如需重设开始与结束时间，于设置页面
        中按下重置按钮，将开始时间归零，结束时间为音乐总长度。

        </pre>
	<div class="MainImagesContent">
		<div style="float:left;">
			<b>设置页面: 时间按钮</b>
			<br/>
			<br/>
			<img  style="width:480" src="../img/HowToUse/SystemPage/TimePickerButtonsChs.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>时间选取页面</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/TimePickerChs_4S.png">
		</div>
	</div>
	<pre class="MainTextContent">
        14. 音乐速度减半 :
            在设置页面中，于开启音乐播放器的状态下，选取一首音乐后，打开下方的音
        乐速度减半即可。
        </pre>	                                
        
 	<pre class="MainTextContent">
        15. 拨放节拍同时拨放音乐 : 
            在设置页面你可以找到这个开关，但必须先启用音乐播放以及有选取音乐才可
        使用。须小心大部分音乐前面会有一小段空白时间，你可以设置开始时间过滤掉。
        
            这个功能并不会自动与目前歌曲速度符合，有很多歌曲的速度是有变化的，这
        会使节拍器与音乐不同步。
        
        特别注意 : 起用这个功能后无法单独拨放/停止节拍器，需要关避这个功能才会回
                 复。
        </pre>
        
 <hr class="ShortRedLine">
	<!---------->
	<!-- Next -->
	<!---------->

	<h1>选取不同列表 (设置页面 / 节拍列表页面 / 名称编辑页面):</h1>
	<pre class="MainTextContent">
        16. 选取不同的节拍列表 :
            欲自定义节拍器列表名称，可于设置页面中，点击列表名称，即可浏览所有的节
        拍器列表项目。进入页面后点击项目变成浅灰色即为选取(未选取为白色)。点击编
        辑进入名称修改页面进行修改，点击新增进入编辑页面进行列表新增，在列表项目
        上向左滑动即可删除该列表项目。
        
            新增: 修改前名称预设为Default，如果没有输入名称，点击储存后将出现名
                 字错误的讯息且无法新增列表项目(限输入名称不能超过25个字)
            修改: 修改前为显示目前名称，如果没有输入名称，点击储存后将出现名字错
                 误的讯息且无法新增列表项目(限输入名称不能超过25个字)
        </pre>
	<b>设置页面: 列表名称</b>
	<br/>
	<br/>
	<img src="../img/HowToUse/SystemPage/TempleListTableButtonChs.png">
	<br/>
	<div class="MainImagesContent">
		<div class="ImageWithTitleTrueSize">
			<b>节拍列表页面</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableChs_5S.png">
		</div>
		<div class="ImageWithTitleTrueSize">
			<b>名称编辑页面</b>
			<br/>
			<br/>
			<img class="AppImgTrueSize_5S" src="../img/4S/NameEditerChs_4S.png">
		</div>
	</div>
</div>