<div>
        <br/>
        <b>
        <pre class="MainTextContent">
          "Rock Click" is and iPhone APP witch designed and created by 
        professional rock drummer. It is not just a fully featured Drummer 
        Metronome, "Rock Click" brings more unique value to make your practice 
        easier:

        1) 	Tempo List Play
          Create your own Tempo list and play different tempos in a sequence.

        2) 	Music synchronization 
          Play metronome and your music simultaneously with the built-in music 
        player inside the APP. With just one tap on the APP, you can access the 
        feature from professional audio recording software.

        3) 	A-B Loop Play and 0.5x Music Speed
          Loop through a certain part of a song, or play the music with 0.5x 
        speed. It gives you full control to the practice with any difficult 
        songs.
        </pre>
        </b>
        
        <!-- Image -->
        <p> Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "Main Page"</p>
            <img class="AppImgTrueSize_5S" src="../img/5S/NormalPage_5S.png">
            <img class="AppImgTrueSize_5S" src="../img/5S/BPMPicker_5S.png">
        <br/>
        <p> Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "Settings Page"</p>
            <img class="AppImgTrueSize_5S" src="../img/5S/SettingsEng_5S.png">
            <img class="AppImgTrueSize_5S" src="../img/5S/TempoTableEng_5S.png">
        <br/>
        <p> Iphone 4S "Main Page"</p>
            <img class="AppImgTrueSize_4S" src="../img/4S/NormalPage_4S.png">
            <img class="AppImgTrueSize_4S" src="../img/4S/BPMPicker_4S.png">
        <br/>
        <br/>
        <p> Iphone 4S "Settings Page"</p>
            <img class="AppImgTrueSize_4S" src="../img/4S/SettingsEng_4S.png">
            <img class="AppImgTrueSize_4S" src="../img/4S/TempoTableEng_4S.png">
        <br/>
    </div>