<div>
	<br/>
	<b> 	<pre class="MainTextContent">
            ”ロッククリック”はロックドラマーが発想してからデザインしたＡＰＰＬＥ
        ＳＴＯＲＥで発行するメトロノームアプリです。
        標準的なメトロノームだけでなく、更にビートを自動順次再生の功能も追加され
        ています。ビートリストに回数と関するパラメータを増え、設定して限り、順次
        実行するや再生することができます。
        
            また、曲を繰り返し練習するために、このアプリには曲をメトロノームと同
        期再生する機能を打つ。曲などを選択して、テンポヂィテールを設定したら、我
        々はプロのレコーディングソフトウェアのようなマージ再生機能を実現すること
        ができます。         
          
            同時に、ロッククリックも半分のスピードで再生することやＡＢ間リピート
        などの便利な、親切な心遣いを揃っています。ミュージシャンが練習する同時に
        、簡単にヂィテールを分析することができます。                  
        </pre> </b>
	<!-- Image -->
	<p>
		Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "メインページ"
	</p>
	<img class="AppImgTrueSize_5S" src="../img/5S/NormalPage_5S.png">
	<img class="AppImgTrueSize_5S" src="../img/5S/BPMPicker_5S.png">
	<br/>
	<p>
		Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "設定ページ"
	</p>
	<img class="AppImgTrueSize_5S" src="../img/5S/SettingsJP_5S.png">
	<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableJP_5S.png">
	<br/>
	<p>
		Iphone 4S "メインページ"
	</p>
	<img class="AppImgTrueSize_4S" src="../img/4S/NormalPage_4S.png">
	<img class="AppImgTrueSize_4S" src="../img/4S/BPMPicker_4S.png">
	<br/>
	<br/>
	<p>
		Iphone 4S "設定ページ"
	</p>
	<img class="AppImgTrueSize_4S" src="../img/4S/SettingsJP_4S.png">
	<img class="AppImgTrueSize_4S" src="../img/4S/TempoTableJP_4S.png">
	<br/>
</div>