<div>
	<br/>
	<b> 	<pre class="MainTextContent">
            “Rock Click” 一款由摇滚乐"鼓手"设计制作于iPhone App应用程序上的节拍
        器软件，除了一般标准鼓手节拍器的功能外，更添加了自动依序拨放节拍的功能。
        只要在节拍列表中增加与设定次数及其它相关参数，便可开始依序执行及播放。
        
            此外，为了方便綀习歌曲，此软件更加入了歌曲与节拍同步拨放功能，只要选
        定歌曲及设定好节拍细节，便可达到如一般专业录音软件的合并播放功能。
        
            同时，此软件也具备了音乐减半速度播放及好用的AB播放功能，如此贴心又方
        便的设计，让乐手在綀习歌曲的同时也能轻易的解析细节。
        </pre> </b>
	<!-- Image -->
	<p>
		Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "主页面"
	</p>
	<img class="AppImgTrueSize_5S" src="../img/5S/NormalPage_5S.png">
	<img class="AppImgTrueSize_5S" src="../img/5S/BPMPicker_5S.png">
	<br/>
	<p>
		Iphone 6 / Iphone 6 plus/ Iphone 5S / Iphone 5 "设置页面"
	</p>
	<img class="AppImgTrueSize_5S" src="../img/5S/SettingsChs_5S.png">
	<img class="AppImgTrueSize_5S" src="../img/5S/TempoTableChs_5S.png">
	<br/>
	<p>
		Iphone 4S "主页面"
	</p>
	<img class="AppImgTrueSize_4S" src="../img/4S/NormalPage_4S.png">
	<img class="AppImgTrueSize_4S" src="../img/4S/BPMPicker_4S.png">
	<br/>
	<br/>
	<p>
		Iphone 4S "设置页面"
	</p>
	<img class="AppImgTrueSize_4S" src="../img/4S/SettingsChs_4S.png">
	<img class="AppImgTrueSize_4S" src="../img/4S/TempoTableChs_4S.png">
	<br/>
</div>