<div>
	<b> 	
	<pre class="MainTextContent">  
            Now I'm living in Toronto for one year. If anyone want to make a 
    friend or recommand some jobs to me, and I will be very happy.
    <%= link_to "My resume", "http://rock-click.com/doc/Chang_Tsung_Yu_resume.pdf"%>
		
    ご利用ありがとうございました
    もしご質問があれば、メールをお送りください
   
    Travis Chang
	</pre> 
	</b>
</div>