<div>
	<b> 
	<pre class="MainTextContent">
        最近人在加拿大多倫多, 如果有人剛好在這邊有興趣交個朋友或推薦工作機會是再好不過了
        <%= link_to "我的履歷", "http://rock-click.com/doc/Chang_Tsung_Yu_resume.pdf"%>
		
        如果有任何問題, 歡迎來信詢問, 感謝.
        Travis Chang
	</pre> 
    </b>
</div>