<div>
	<b>
    <pre class="MainTextContent">
        最近人在加拿大多伦多, 如果有人刚好在这边有兴趣交个朋友或推荐工作机会是再好不过了
        <%= link_to "我的履历", "http://rock-click.com/doc/Chang_Tsung_Yu_resume.pdf"%>
        
        如果有任何问题, 欢迎来信询问, 感谢.
        Travis Chang
    </pre>
    </b>
</div>